.hidden {
    display: none;
}

.contact {
    height: 100vh;
    width: 100vw;
    padding: 0.2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-evenly;

    &__title {
        margin-top: 5rem;
        color: #000;
    }

    hr {
        margin-bottom: 3rem;
    }

    &__content {
        height: 75%;
        width: 75%;
        margin: 0 auto;
        margin-bottom: 10rem;
        background-color: rgba(241, 243, 245, 0.8);
        border-radius: 3px;
        box-shadow: 0 2rem 4rem $color-dark-white;

        &-form {
            width: 60%;
            height: 60%;
            margin: 0 auto;

            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: space-evenly;
                padding: 4rem;

                position: relative;
                margin: 1rem 0 2rem;

                label {
                    position: absolute;
                    left: 4.8rem;
                    color: $color-black;
                    font-size: 1rem;
                    text-transform: uppercase;

                    &:first-of-type {
                        top: 4.7rem;
                        margin-bottom: 3rem;
                    }

                    &:not(:first-of-type):not(:last-of-type) {
                        top: 9.9rem;
                        margin-bottom: 3rem;
                    }

                    &:last-of-type {
                        top: 14.9rem;
                        margin-bottom: 3rem;
                    }

                    span {
                        display: inline-block;
                        min-width: 0.5rem;
                        transition: all 0.3s ease-in-out;
                    }
                }

                input:focus+label span,
                input:valid+label span,
                textarea:focus+label span,
                textarea:valid+label span {
                    color: rgb(42, 64, 109);
                    transform: translateY(-2.3rem);
                }

                input:not(:last-child),
                textarea {
                    background-color: transparent;
                    display: block;
                    padding: 0.8rem;
                    margin-bottom: 2rem;
                    font-size: 1.2rem;
                    font-weight: 300;
                    font-family: inherit;
                }

                textarea {
                    border: 1px solid $color-dark-white;
                    border-radius: 3px;
                    width: 100%;
                    height: 25vh;
                    resize: none;
                }

                input:not(:last-child) {

                    border: 0;
                    border-bottom: 1px solid $color-dark-white;
                }

                input:not(:last-child):focus,
                input:not(:last-child):valid,
                textarea:focus,
                textarea:valid {
                    outline: 0;
                }

                input:not(:last-child):focus,
                input:not(:last-child):valid {
                    border-bottom: 2px solid rgb(93, 103, 121);
                }

                textarea:focus {
                    border: 2px solid rgb(93, 103, 121);
                }

                input:last-child {
                    margin: 0 auto;
                    background-color: rgb(93, 103, 121);
                    color: $color-white;
                    margin-top: 1rem;
                    width: 30%;
                    padding: 0.7rem 1rem;
                    border: 0;
                    border-radius: 3px;
                    box-shadow: 0 4px 8px $color-dark-white;
                    letter-spacing: 0.1rem;
                    transition: all 0.2s ease-in;

                    &:hover {
                        transform: scale(1.05);
                        box-shadow: 0 6px 10px $color-dark-white;
                    }

                    &:active {
                        transform: scale(1.02);
                        box-shadow: 0 4px 8px $color-dark-white;
                    }
                }
            }
        }
    }

}