*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {

  @include responsive(tablet-land) {
    font-size: 100%;
  }

  @include responsive(phone) {
    font-size: 60%;
  }

  // @include responsive(tablet-port) {
  //   font-size: 100%;
  // }

}

body {
  box-sizing: border-box;

  @include responsive(tablet-port) {
    overflow-x: hidden;
  }
}

hr {
  color: $color-dark-white;
  width: 30%;
  margin: 0 auto;
}